<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Transaction</title>
  <link href="/styles/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex justify-center items-center min-h-screen">
  <div class="container mx-auto px-4 py-8 bg-white shadow-lg rounded-lg">
    <h1 class="text-4xl font-bold mb-8 text-center">Monthly Transactions</h1>